@model IEnumerable<Blog.Entity.Entity.Category>

@{
    Layout = null;
}
<div class="center-block">
    <a class="view-all-btn mt-15 text-center  btn akame-btn" style="padding-top:7px; font-weight:bold" href="/Home/MakalelerByKategori">
        <h2>KATEGORİLER</h2>
    </a>
</div>
<div class="center-block">
    <ul class="list-unstyled">

        @foreach (var item in Model)
        {
            <li>
                <a class="view-all-btn mt-15 text-center active btn akame-btn " style="font-weight:bold" href="/Home/MakalelerByKategori/@item.Id">
                    @item.Name (@item.Articles.Where(a => a.IsDeleted==false).Count())
                </a>
            </li>
        }
    </ul>
</div>

